.result-container{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button:hover{
    scale : 1.1 ;
    transition: scale 0.5s linear;
}

@media(min-width : 200px)and (max-width : 400px) {
    .result-container{
        width: 100%;
    }
}